.Die {
  font-size: 10em;
  padding: 0.25em;
  color: coral;
  color: green;
  color: crimson;
  /* transform-origin: right; */
}

.tumbling {
  animation-duration: 1.5s;
  animation-name: rotateRollingSquare;
}

@keyframes rotateRollingSquare {
  0% {transform:rotate(0deg);}
  5% {transform: translate(-20px, -10px );}
  10% {transform:rotate(36deg);}
  15% {transform: translate(-60px, -30px);}
  20% {transform:rotate(72deg);}
  25% {transform: translate(-90px, -40px);}
  30% {transform:rotate(108deg);}
  35% {transform: translate(-60px, -50px);}
  40% {transform:rotate(144deg);}
  45% {transform: translate(-30px, -55px);}
  50% {transform:rotate(180deg);}
  55% {transform: translate(-20px, -45px);}
  60% {transform:rotate(216deg);}
  65% {transform: translate(20px, -35px);}
  70% {transform:rotate(252deg);}
  75% {transform: translate(50px, -25px);}
  80% {transform:rotate(288deg);}
  85% {transform: translate(30px, -15x);}
  90% {transform:rotate(334deg);}
  95% {transform: translate(0, 0);}
  100% {transform:rotate(360deg);}
}


